body {
    margin: 0;
    background-color: rgb(24, 24, 36);
}

.background-picture {
    z-index: -1;
    position: absolute;
    inset: 0;
}

.background-picture img {
    width: 100%;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    inset: 0;
}

.card {
    position: relative;
    width: 550px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;

    background-color: rgba(0, 0, 0, 0);
}

.title-and-themebutton-container {
    position: absolute;
    display: flex;
    top: -80px;
    left: 0;
    right: 0;
}

.large-title-text {
    margin: 0;
    font-size: 40px;
    color: white;
}

.theme-button {
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.todo-list-container,
.create-todo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;

    background-color: hsl(235, 24%, 19%);
}

.task-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 250px;
}

.task-status-button {
    margin: 10px;
}

.info-and-filters-container {
    display: flex;
    width: 100%;
    align-items: center;

    background-color: hsl(235, 24%, 19%);
}

.num-items-text {
    margin-right: auto;
}

.filters-container {
    display: flex;
}

.clear-completed-text {
    margin-left: auto;
}
