body {
    margin: 0;
    background-color: rgb(24, 24, 36);
}

.background-picture {
    z-index: -1;
    position: absolute;
    inset: 0;
}

.background-picture img {
    width: 100%;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    inset: 0;
}

.card {
    width: 375px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;

    /* temp color. make transparent. this card is only for layout. */
    /*background-color: rgba(0, 0, 0, 0);*/
    background-color: white;
}
